<html>
  <head>
	  <title> {{ title }} </title>
  </head>
  <body>
	  <form action="" method="post" name="search">
		  {{ form.hidden_tag() }}
		  <p>
			  Please enter your query:<br>
			  {{ form.query_string(size=80) }}<br>
		  </p>
		  <p><input type="submit" value="Search"></p>
	  </form>
	  {% if results %}
	  {% if results.error is not none %}
	  Unexpected Error
	  {% else %}
	  {% for res in results.results %}
	  <div>
		  <p><a href="{{url_for('details', id=res._source.business_id)}}"><b> {{ res._source.name }}</b></a></p>
		  <p>Rating:{{ res._source.stars}} Reviews:{{ res._source.review_count}} </p>
		  <p>{{ res._source.address }} {{ res._source.city}}</p>
	  </div>
	  {% endfor %}
	  {% endif %}
	  {% endif %}
  </body>
</html>
