<html>
  <head>
	  <title> {{ title }} </title>
  </head>
  <body>
	  <form action="" method="post" name="search">
		  {{ form.hidden_tag() }}
		  <p>
			  Please enter your query:<br>
			  {{ form.query_string(size=80) }}<br>
		  </p>
		  <p><input type="submit" value="Search"></p>
	  </form>
	  <h1>Hi, {{ user }}!</h1>
	  {% if results %}
	  {% if results.error %}
	  Unexpected Error
	  {% else %}
	  {% for res in results.results %}
	  <div><p>res</p></div>
	  {% endfor %}
	  {% endif %}
	  {% endif %}
  </body>
</html>
